<modx>
	<database_type>mysql</database_type>
	<database_server>localhost</database_server>
	<database>{{ username }}</database>
	<database_user>{{ username }}</database_user>
	<database_password>{{ mysql_user_pass }}</database_password>
	<database_connection_charset>utf8</database_connection_charset>
	<database_charset>utf8</database_charset>
	<database_collation>utf8_unicode_ci</database_collation>
	<table_prefix>modx_</table_prefix>
	<https_port>443</https_port>
	<http_host>{{ domain }}</http_host>
	<cache_disabled>0</cache_disabled>
	<inplace>1</inplace>
	<unpacked>0</unpacked>
	<language>ru</language>
	<cmsadmin>{{ username }}</cmsadmin>
	<cmspassword>{{ username }}</cmspassword>
	<cmsadminemail>admin@{{ domain }}</cmsadminemail>
	<core_path>/var/www/{{ username }}/core/</core_path>
	<context_mgr_path>/var/www/{{ username }}/manager/</context_mgr_path>
	<context_mgr_url>/manager/</context_mgr_url>
	<context_connectors_path>/var/www/{{ username }}/connectors/</context_connectors_path>
	<context_connectors_url>/connectors/</context_connectors_url>
	<context_web_path>/var/www/{{ username }}/</context_web_path>
	<context_web_url>/</context_web_url>
	<remove_setup_directory>1</remove_setup_directory>
</modx>